.intro__list{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.intro__list-param{
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-num{
  font-weight: normal;
}
