.places__text{
  max-width: 484px;
  box-sizing: border-box;
}

.places__text-paragraph{
  margin: 0;
  margin-bottom: 26px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  color: #FFF;
}

.places__text-paragraph:last-child{
  margin-bottom: 0;
}

@media screen and (max-width:1280px) {
  .places__text{
    position: relative;
  }
}

@media screen and (max-width:768px) {
  .places__text-paragraph{
    font-size: 16px;
  }
}

@media screen and (max-width:540px) {
  .places__text{
    width: calc(100% - 32px);
    margin: 0 16px 32px 16px;
  }
}
