.photo-grid__wrapper{
  display: grid;
  max-width: 1187px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1280px) {
  .photo-grid__wrapper{
    max-width: 1187px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin: 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid__wrapper{
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__wrapper{
    gap: 12px;
    grid-template-columns: 1fr;
    margin: 0 16px;
  }
}

