.intro{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and ( max-width: 1024px ) {
  .intro{
    margin-left: 48px;
  }
}

@media screen and ( max-width: 768px ) {
  .intro{
    max-width: 90%;
    padding-bottom: 88px;
    margin: 0 24px;
  }
}

@media screen and ( max-width: 425px ) {
  .intro{
    max-width: 90%;
    padding-bottom: 64рх;
    margin: 0 16px;
  }
}
