.intro{
  background-color: #2A2C2F;
}

.intro__wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}

.intro__title{
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 690px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.0;
  color: #FFF;
}

.intro__subtitle{
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  width: 690px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #FFF;
}

.intro__list{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.intro__list_param{
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list_num{
  font-weight: normal;
}
