.places__website-url-heading{
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.0;
  letter-spacing: 2px;
  color: #AAA;
}

.places__website-link{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #FFF;
}

.places__website-link:hover{
  opacity: 0.8;
}

@media screen and (max-width:768px) {
  .places__website-link{
    margin-bottom: 32px;
  }
}

@media screen and (max-width:540px) {
  .places__website-url-heading{
    margin: 0 16px 12px 16px;
  }

  .places__website-link{
    margin: 0 16px 32px 16px;
  }
}
