.places__item{
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}


@media screen and (max-width:1024px) {
  .places__item{
    padding-bottom: 72px;
  }
}

@media screen and (max-width:540px) {
  .places__item{
    padding-bottom: 50px;
  }
}
